<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
<h2>{{message}}</h2>
<div v-if="books.length">
<table>
    <thead>
    <tr>
        <th></th>
        <th>电影名称</th>
        <th>出版日期</th>
        <th>价格</th>
        <th>购买数量</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(item,index) in books">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.date}}</td>
        <td>{{item.price|showPrice}}</td>
        <td><button @click="decrement(index)" :disabled="item.count<=1">-</button>{{item.count}}<button @click="increment(index)">+</button></td>
        <td><button @click="removeHandler(index)">删除</button></td>
    </tr>
    </tbody>
</table>
</div>
<div v-else>购物车为空</div>
<h2>总价格：{{totalPrice|showPrice}}</h2>

</div>
<script>
const app = new Vue({
el:'#app',
data:{
message:'你好哈',
movies:['海王','星际穿越','流浪地球'],
books:[
    {
        id:1,
        name:'《算法导论》',
        date:'2006-9',
        price:85.00,
        count:1
    },
    {
        id:2,
        name:'《UNIX编程艺术》',
        date:'2006-9',
        price:85.00,
        count:1
    }, {
        id:3,
        name:'《编程珠玑》',
        date:'2006-9',
        price:39.00,
        count:1
    }
]
},
filters:{
showPrice:function (price) {
    return '￥'+price.toFixed(2)
}
},
computed:{
totalPrice:function () {
  var totalprice = 0
  for (var i = 0; i <this.books.length ; i++) {
      totalprice += this.books[i].price*this.books[i].count
  }
  return totalprice
}
},
methods:{
increment:function (index) {
   this.books[index].count++
},
decrement:function (index) {
    this.books[index].count--
},
removeHandler:function (index) {
    this.books.splice(index,1)
}
}
})
</script>




</body>
</html>